/* phần chung */
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: hsl(0, 0%, 80%);
    display: flex;
	align-items: center;
	justify-content: center;
    background: url(https://static-images.vnncdn.net/files/publish/2022/8/27/con-dao-1-399.jpg) no-repeat;
    background-size: cover;
    

}


.form-submit{
    text-align: center;
    border: 1px solid #0000;
    height: 43px;
    width: 400px;
    border-radius: 8px;
    background: rgba(251, 183, 20, 1);
    color: #ffff;
    margin: 10px;
    cursor: pointer;
    margin-left: 3px;
}

.form-submit:hover{
    background-color: rgba(251, 183, 20, 1);
    color: #ffff;
}

.title-big{
    text-align: center;
    position: relative;
    left: 70px;
}
.title{
    margin-top: 8px;
    font-size: 24px;
}
.form-group.invalid #fullname{
    border-color: rgba(251, 183, 20, 1);
}
.form-group.invalid #password{
    border-color:  rgba(251, 183, 20, 1);
}
.form-group.invalid #confirm-password{
    border-color: rgba(251, 183, 20, 1);
    
}
.form-group.invalid #email{
    border-color: rgba(251, 183, 20, 1);
}  
  
.form-group.invalid .form-message {
    color:  rgba(251, 183, 20, 1);
  }
  
.form-message {
    font-size: 15px;
    /* padding: 4px 0 0; */
    height: 20px;
  }
.form-group{
    margin-top: 25px;
    height: 70px;
}  


/* trang dang ky */

#form1{
    border-radius: 10px;
    width: 500px;
    height: 650px;
    background-color: #f6f5f7;
    border: 0.5 solid #f6f5f7;
    text-shadow: #000;
    margin-top: 100px;
}

#form1 .register{
    width: 300px;
    height: 550px;
    font-weight: 500;
    line-height: 24px;
    padding: 16px;
    padding-right: 30px;
    margin-left: 35px; 
    /* margin-top: -10px; */
    

}
#form1 .register p{
    margin-bottom: 0;
    /* margin-top: 8px; */
    font-size: 18px;
}


#form1 input[type = "text"]{
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 48px;
    width: 400px;
    margin-bottom: -2px;
    
}

#form1 input[type = "password"]{
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 48px;
    width: 400px;
    margin-bottom: -2px;

}
#form1 input[type = "checkbox"]{
   cursor: pointer;
   margin-top: 10px;

}

/* hover : khi rê chuột vào */
#form1 input[type = "password"]:hover {
    border-color: rgba(251, 183, 20, 1);
}

#form1 input[type = "text"]:hover {
    border-color: rgba(251, 183, 20, 1);
}
.dacotk{
    position: relative;
    left: 27%;
    top: 10px;
}
.dacotk a{
    text-decoration: none;
    
}
/* trang đăng nhập */

#form2{
    border-radius: 10px;
    width: 500px;
    
    background-color: #f6f5f7;
    border: 0.5 solid #f6f5f7;
    text-shadow: #000;
    margin-top: 100px;
}

#form2 .sign-in{
    width: 300px;
    height: 500px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-top: 100px;
    padding: 16px;
    padding-right: 30px;
    margin-left: 35px; 
    margin-top: -10px;

}
#form2 .sign-in p{
    margin-bottom: 0;
    margin-top: 8px;
    font-size: 18px;
}


#form2 input[type = "text"]{
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 80%);
    height: 48px;
    width: 400px;
    
}
#form2 input[type = "password"]{
    border-radius: 5px;
    border:1px solid  hsl(0, 0%, 80%);
    height: 48px;
    width: 400px;

}
#form2 .form-group{
    margin-top: 26px;
    position: relative;
}
#form2 input[type = "password"]:hover {
    border-color:  rgba(251, 183, 20, 1);
}

#form2 input[type = "text"]:hover {
    border-color: rgba(251, 183, 20, 1);
}
  

#form2 .check{
    margin-top: 44px;
    cursor: pointer;
}
